@font-face {
    font-family: 'NanumGothic Coding';
    src: url('../fonts/NanumGothicCoding-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
/* @font-face {
    font-family: 'NanumGothic Coding';
    src: url('../fonts/NanumGothicCoding-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
} */